h1 {
    color: rgb(23, 24, 124);
    font-family: comic sans-serif;
    text-align: left;
}
h2 {
    color: rgb(22, 14, 36);
    font-family: comic sans-serif;
    text-align: left;
    font-size: 20px;
}    
ul {
    font-family: comic sans-serif;
    color: rgb(7, 7, 6);
    text-align: left;
    font-size: 17px;
}