h1 {
    color: rgb(23, 24, 124);
    font-family: comic sans-serif;
    text-align: left;
}
h2 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
th {
    color: rgb(22, 14, 36);
    font-family: comic sans-serif;
    text-align: left;
    font-size: 20px;
}    
ul {
    font-family: comic sans-serif;
    color: rgb(7, 7, 6);
    text-align: left;
    font-size: 17px;
}
table, th, td {
    border: 1px solid black;
    width:185px;
    height:22px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 18px;
    
 }
 body {
     background-color: rgb(242, 168, 139);
 }
